# Machine Learning - Titanic Survival Prediction

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [25]:
def read(filename):
    df = pd.read_csv(filename, index_col="PassengerId")
    df = df.drop(['Ticket','Name','Cabin'],1)
    df.Sex = df.apply(lambda row: 1 if row['Sex']=='male' else 2,1)
    df.Embarked=df.Embarked.fillna('S')
    df.Embarked=df.apply(lambda row: 1 if row['Embarked']=='S' else row['Embarked'],1)
    df.Embarked=df.apply(lambda row: 2 if row['Embarked']=='C' else 3,1)
    df.Age=df.Age.fillna(df.Age.median())
    df.Fare=df.Fare.fillna(df.Fare.median())
    return df

In [26]:
train=read("train.csv")
test=read("test.csv")
train.head()

             Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
PassengerId
1                   0       3    1  22.0      1      0   7.2500         3
2                   1       1    2  38.0      1      0  71.2833         2
3                   1       3    2  26.0      0      0   7.9250         3
4                   1       1    2  35.0      1      0  53.1000         3
5                   0       3    1  35.0      0      0   8.0500         3

In [20]:
train_labels=train['Survived']
train_features=train.drop('Survived',1)

In [21]:
train_features.Age.unique()

array([ 22.  ,  38.  ,  26.  ,  35.  ,  28.  ,  54.  ,   2.  ,  27.  ,
        14.  ,   4.  ,  58.  ,  20.  ,  39.  ,  55.  ,  31.  ,  34.  ,
        15.  ,   8.  ,  19.  ,  40.  ,  66.  ,  42.  ,  21.  ,  18.  ,
         3.  ,   7.  ,  49.  ,  29.  ,  65.  ,  28.5 ,   5.  ,  11.  ,
        45.  ,  17.  ,  32.  ,  16.  ,  25.  ,   0.83,  30.  ,  33.  ,
        23.  ,  24.  ,  46.  ,  59.  ,  71.  ,  37.  ,  47.  ,  14.5 ,
        70.5 ,  32.5 ,  12.  ,   9.  ,  36.5 ,  51.  ,  55.5 ,  40.5 ,
        44.  ,   1.  ,  61.  ,  56.  ,  50.  ,  36.  ,  45.5 ,  20.5 ,
        62.  ,  41.  ,  52.  ,  63.  ,  23.5 ,   0.92,  43.  ,  60.  ,
        10.  ,  64.  ,  13.  ,  48.  ,   0.75,  53.  ,  57.  ,  80.  ,
        70.  ,  24.5 ,   6.  ,   0.67,  30.5 ,   0.42,  34.5 ,  74.  ])

In [27]:
classifier=DecisionTreeClassifier()
classifier

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [28]:
classifier.fit(train_features,train_labels)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [30]:
predict=classifier.predict(test)

In [31]:
Result=pd.DataFrame({'Survived':predict},index=test.index)
Result.head()

             Survived
PassengerId
892                 0
893                 0
894                 1
895                 1
896                 1

In [33]:
Result.to_csv('result.csv')

### Result on Kaggle
#### Accuracy : *68.89%*